/*
 bleu: #156FBB
 vert: #4CFF5C
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

/******** Header ********/

.container-header {
  background-color: #F7F7F7;
  margin: 0;
  padding: 1px 0 5px 0;
}

.container-header .main-title {
  margin: 30px auto 0 auto;
  padding: 0;
  display: block;
  width: 200px;
}

.container-header .main-title img {
  width: 200px;
}

/******** Products ********/

.container-products {
  background-color: #F7F7F7;
  margin: 0;
  padding: 30px 0 10px 0;
}

.article {
  background-color: white;
  width: calc(33% - 32px);
  float: left;
  display: block;
  margin: 0 10px 20px 0;
  padding: 35px 10px 10px 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  border: 1px solid rgba(115,115,115,0.14);
}

.article .article-photo {
  width: 240px;
}

.article .article-price {
  position: absolute;
  display: block;
  left: 0;
  top: 10px;
  background-color: #4CFF5C;
  height: 26px;
  line-height: 26px;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 0 13px 13px 0;
}

.article .article-kind {
  display: block;
  color: #C3C6C8;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  padding: 10px 0 0 0;
}

.article .article-title {
  font-weight: 600;
  color: #12548C;
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
}

.article .article-title .quote {
  font-size: 20px;
  color: #3C8BC6;
}

.article .article-like {
  display: inline-block;
  height: 23px;
  line-height: 19px;
  color: #E23534;
  font-style: italic;
  text-align: left;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
}

.article .article-like .article-like-img {
  display: block;
  height: 28px;
  width: 28px;
  background-image: url(../img/coeur-vide.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px;
  position: absolute;
  top: 0;
  left: 0;
}

.article .article-like:hover {
  cursor: pointer;
}

.article .article-like.liked .article-like-img {
  background-image: url(../img/coeur-plein.svg);
  animation-duration: 1s;
  animation-name: slidein;
}

.article .article-like span {
  line-height: 26px;
}

@keyframes slidein {
  from {
    background-size: 23px;
  }

  50% {
    background-size: 28px;
  }

  to {
    background-size: 23px;
  }
}

/******** Intéressé ********/

.container-interested {
  padding: 0 0 20px 0;
}

.container-interested .main-title {
  background-image: url(../img/interesse.svg);
  background-repeat: no-repeat;
  background-size: 27px;
  padding-left: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #545657;
}

.container-interested p {
  color: #BEBEBE;
  font-size: 14px;
  line-height: 18px;
}

/******** Footer ********/

.container-footer {
  background-color: white;
  margin: 0;
  padding: 1px 0 30px 0;
}

.container-footer .main-title {
  margin: 20px auto 0 auto;
  padding: 0;
  display: block;
  width: 120px;
}

.container-footer .main-title img {
  width: 120px;
}

.container-footer .footer-menu {
  list-style: none;
  text-align: center;
}

.container-footer .footer-menu li {
  display: inline;
}

.container-footer .footer-menu li a {
  color: #928F8F;
  text-decoration: none;
}

.container-footer .footer-menu li a:hover {
  text-decoration: underline;
}

.container-footer .footer-menu li::after {
  content: '•';
  padding: 0 10px 0 10px;
}

.container-footer .footer-menu li:last-child:after {
  content: '';
  padding: 0;
}

/******** Tools ********/

.clear {
  clear: both;
}

.container-content {
  width: 900px;
  margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 992px) {}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-content {
    width: 760px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .container-content {
    width: 90%;
    margin: 0 auto;
  }

  .article {
    width: auto;
    margin: 0 0 20px 0;
    display: block;
    padding: 35px 10px 10px 10px;
    float: none;
  }

  .article .article-photo {
    width: 100%;
  }
}

/* Mailchimp */
/*
.newsletter {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}
*/
/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}
